<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis facturas</title>
        
        <!-- Link accesos a archivos css internos -->
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/footer.css">
     
        <link rel="stylesheet" href="/styles/stylesPages/misFacturas/misFacturasCliente.css">
    </head>
    <body>
        <main class="main">
            <section class="section-misFacturas">
                <h1>Buscar facturas</h1>
                <form class="frm-misFacturas">
                    <div class="section-froms">
                        <label  class="lbl-IDcliente_cliente" for="inp-IDcliente_cliente">ID cliente</label>
                        <input class="inp-IDcliente_cliente" id="inp-IDcliente_cliente" type="text">
                        
                        <label  class="lbl-IDfactura_cliente" for="inp-IDfactura_cliente">ID factura</label>
                        <input class="inp-IDfactura_cliente" id="inp-IDfactura_cliente" type="text">
                        
                        <label class="lbl-estado_cliente" for="slc-estado_cliente">Estado</label>
                        <select name="" class="slc-estado_cliente" id="slc-estado_cliente">
                            <option value="">Pendiente</option>
                            <option value="proveedor">Pago</option>
                            <option value="cliente">Cancelado</option>
                        </select>
                        
                        <label class="lbl-fechaIngreso_cliente" for="inp-fechaIngreso_cliente">Fecha de ingreso</label>
                        <input class="inp-fechaIngreso_cliente" id="inp-fechaIngreso_cliente" type="date" name="">
                    </div>
                    <div class="section-buttons">
                        <input class="btn btn-cliente btn-cliente_sudmin" id="btn-sudmin_cliente" type="submit" value="Limpiar">
                        <button class="btn btn-cliente btn-cliente_filtra">Filtra</button>
                    </div>
                </form>

                <h1>Relacion de facturas</h1>
                <div class="table">
                    <table>
                        <tr>
                            <th>Item</th>
                            <th>ID factura</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>subTotal</th>
                            <th>Acciones</th>
                        </tr>
                        
                    </table>
                </div>
            </section>
        </main>

        <!-- Footer - buttons action -->
        <footer class="footer">
            <div class="action-buttons">
                <a href="./facturas.html">Volver</a>
            </div>
        </footer>

    </body>
</html>