<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Productos</title>
    </head>
    <body>
        <main class="main">
            <section class="section-requisicion">
                <h1>Requisicion</h1>
                <form class="section-froms">
                    <div class="frm-buscarProducto">
                        <label class="lbl-categoria" for="slc-categoria">Cliente</label>
                        <label  class="lbl-IDproducto" for="inp-IDproducto">ID</label>
                        <label class="lbl-categoria" for="slc-categoria">Telefono</label>
                        <label  class="lbl-IDproducto" for="inp-IDproducto">Direccion</label>
                    </div>

                    <div class="frm-orden">
                        <label  class="lbl-cantidadProducto" for="inp-cantidadProducto">ID factura</label>
                        <label  class="lbl-cantidadProducto">Fecha</label>
                    </div>
                </form>
                <h1>Vista requisicion</h1>
                <div class="table">
                    <table>
                        <thead>
                            <th>Item</th>
                            <th>Descripcion</th>
                            <th>Categoria</th>
                            <th>UND</th>
                            <th>Cantidad</th>
                            <th>Valor</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>

        <!-- Footer - buttons action -->
        <footer class="footer">
            <div class="action-buttons">
                <a href="/pages/requisicion/editarRequisicion.html" class="btn btn-primary">Volver</a>
                <div class="buttons-requisicion">
                    <a class="btn btn-primary" onclick="print()">Imprimir</>
                    <a class="btn btn-second" href="/pages/requisicion/editarRequisicion.html">Guardar</a>
                </div>
            </div>
        </footer>

    </body>
</html> 