<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Usuarios</title>
    </head>
    <body>
        <main>
            <form action="../../php/usuarios/usuario_reedireccionar.php" method="post">
                <select name="tipo" id="">
                    <option value="" selected>Seleccionar</option>
                    <option value="operadores">Operadores</option>
                    <option value="clientes">Clientes</option>
                    <option value="proveedores">Proveedores</option>
                </select>
                <input type="submit" value="Ir">
            </form>
        </main>
    </body>
</html>